<div id="header">
	
    <div id="navigation">
        <ul>
            <li id="logo">
                <a href="/"><img src="images/logo.png" alt="LOGO" height="49" width="120"></a>
            </li>
            <li>
                <a href="/travel">Travel</a>
            </li>
            <li>
                <a href="/news">News</a>
            </li>
            <li>
                <a href="/rooms">Rooms</a>
            </li>
            <li>
                <a href="/meals">Meals</a>
            </li>
            <li>
                <a href="/checkout"><img src="images/cart.png" id="navpix" height="20" width="20" style="margin:5px"></img>Checkout</a>
            </li>
            <li>
                <a href="/login"><img src="images/account.png" id="navpix" height="20" width="20"></img>Admin/Login</a>
            </li>
        </ul>
    </div>
</div>